@page "/contact"
<div class="content px-4">
    <h1>Contact</h1>

    <p>Please feel free to contact me over email for any inquiries at </p>

    <a href="mailto:Max.Hutchinson258@gmail.com">Max.Hutchinson258@gmail.com</a>

    <p> You can also follow me on social media</p>

    <a href="https://github.com/maximus258">GitHub</a>

    <a href="https://www.linkedin.com/in/max-hutchinson-02341153/">LinkedIn</a>

</div>