@page "/CV"
@inject HttpClient Http

    <div class="content px-4">
        <h1>Curriculum Vitae</h1>

        <!-- the key is to add /preview to the end !!! -->
        <div style="margin:0px;padding:0px;overflow:hidden;height:100%;width:100%;">
            <iframe src="https://drive.google.com/file/d/1DKgeZK1bvk07DHa075lmpqQRuY6WdvgAIDZE4ReS8_c/preview" frameborder="0" style="overflow:hidden;height:100%;width:100%;min-height:80vh;" height="100%" width="100%"></iframe>
        </div>

  

    </div>